<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmPNeotKxegI9BYl7hq7DBwjqK6Qgq2r4</string>
	<key>GCM_SENDER_ID</key>
	<string>883040604768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ma.smarttaxi</string>
	<key>PROJECT_ID</key>
	<string>samrt-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>samrt-taxi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883040604768:ios:de9392101a21d3268ea905</string>
</dict>
</plist>