{"openapi":"3.0.3","info":{"title":"Smart Taxi API","version":"1.0.0","description":"Backend API for **Smart Taxi**, a ride-hailing (Uber-like) application.\n\n## Overview\nCurrently exposes customer authentication, notifications, ride-ordering, and driver authentication endpoints. More modules (driver vehicles, wallets, etc.) will be added here as they ship.\n\n## Authentication\nSuccessful signup / login returns:\n- `accessToken` — short-lived JWT (default **15m**). Send as `Authorization: Bearer <token>` on protected routes.\n- `refreshToken` — opaque token stored hashed in the DB (default **30 days**). Used to obtain a new access token without re-logging in.\n\nJWT payload claims: `sub` (owner id), `ownerType` (`customer` | `driver`), `accountTypeId` (`1` customer, `2` manager).\n\n## Common response envelope\n**Success**\n```json\n{ \"success\": true, \"message\": \"...\", \"data\": { } }\n```\n\n**Error**\n```json\n{ \"success\": false, \"message\": \"...\", \"errors\": { \"field\": \"reason\" } }\n```\n`errors` is only present for validation (422) and conflict (409) responses.","contact":{"name":"Smart Taxi Team"}},"servers":[{"url":"https://smart-taxi.ma-core.net","description":"Current server"},{"url":"http://localhost:5014","description":"Local"}],"tags":[{"name":"Health","description":"Service availability checks"},{"name":"Customer Auth","description":"Customer registration, login, and logout. Issues and revokes access + refresh tokens."},{"name":"Customer Notifications","description":"In-app notifications for the authenticated customer"},{"name":"Customer Complaints","description":"Customer submits complaints (شكاوى) to managers"},{"name":"Customer Profile","description":"Customer views and edits their own information"},{"name":"Customer Rides","description":"Ride (\"order\") creation, listing, and status lookup for the authenticated customer"},{"name":"Driver Auth","description":"Driver registration, login, and logout. New drivers start as pending (status_id = 1)."},{"name":"Driver Rides","description":"Driver actions on ride orders (accept, …)"},{"name":"Driver","description":"Driver profile / settings (search radius, …)"},{"name":"Driver Account","description":"Driver account deletion requests (reviewed by a manager)"},{"name":"Admin Auth","description":"Manager / admin login (account_type_id = 2)"},{"name":"Admin","description":"Manager-only endpoints (list customers, drivers, …)"},{"name":"Admin Driver Deletion","description":"Review drivers who asked to delete their account (approve / reject)"},{"name":"Admin Create Order","description":"Dispatcher creates orders for phone / WhatsApp callers: customer lookup, quote with free drivers, create (broadcast or assign), assign, cancel"},{"name":"Terms","description":"Terms and conditions text (public read, manager edit), per app and language"},{"name":"Privacy Policy","description":"Privacy policy in Markdown (public read, manager edit), per language, shared by both apps"},{"name":"Admin Cancel Blocks","description":"Cancel-after-accept strikes (drivers and customers). At 3 strikes the dashboard is alerted; the manager blocks (default 24 h), unblocks, or dismisses"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT access token from signup/login. Header: `Authorization: Bearer <accessToken>`"}},"schemas":{"Customer":{"type":"object","description":"Public customer profile (never includes password_hash)","properties":{"id":{"type":"integer","example":1},"first_name":{"type":"string","example":"Ahmad"},"last_name":{"type":"string","example":"Ali"},"photo_url":{"type":"string","nullable":true,"example":null,"description":"Absolute or relative URL to the profile photo"},"phone_number":{"type":"string","example":"0991234567","description":"Unique phone number used as the login identifier"},"email":{"type":"string","nullable":true,"format":"email","example":"ahmad@example.com"},"address":{"type":"string","nullable":true,"example":"Damascus, Mazzeh"},"language":{"type":"string","enum":["ar","en"],"example":"ar","description":"App language — notifications are sent in it. Set via PUT /api/customer/profile/language"},"account_type_id":{"type":"integer","enum":[1,2],"example":1,"description":"`1` = customer, `2` = manager"},"is_guest":{"type":"boolean","example":false,"description":"Created by a manager for a phone order (no password). Signing up in the app with the same phone claims it — same id, ride history kept."},"created_at":{"type":"string","example":"2026-09-27 10:15:00"},"updated_at":{"type":"string","example":"2026-09-27 10:15:00"}}},"AuthTokens":{"type":"object","properties":{"accessToken":{"type":"string","description":"JWT access token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."},"accessTokenExpiresIn":{"type":"string","description":"Access token lifetime (from JWT_ACCESS_EXPIRES_IN)","example":"15m"},"refreshToken":{"type":"string","description":"Opaque refresh token (hex). Store securely on the client.","example":"a1b2c3d4e5f6..."},"refreshTokenExpiresAt":{"type":"string","format":"date-time","description":"ISO-8601 expiry of the refresh token","example":"2026-10-27T10:15:00.000Z"}}},"AuthSuccessData":{"type":"object","properties":{"customer":{"$ref":"#/components/schemas/Customer"},"tokens":{"$ref":"#/components/schemas/AuthTokens"}}},"AccountBlockInfo":{"type":"object","description":"Temporary block set by a manager. While `is_blocked`: a driver gets no offers and cannot accept; a customer cannot order. Login still works.","properties":{"is_blocked":{"type":"boolean","example":true},"blocked_until":{"type":"string","nullable":true,"example":"2026-10-01 18:30:00"},"reason":{"type":"string","nullable":true,"example":"Cancelled 3 accepted rides"}}},"CancelStrikeAccount":{"type":"object","properties":{"owner_type":{"type":"string","enum":["driver","customer"],"example":"driver"},"id":{"type":"integer","example":12},"first_name":{"type":"string","example":"Omar"},"last_name":{"type":"string","example":"Haddad"},"phone_number":{"type":"string","example":"0991234567"},"cancel_strikes":{"type":"integer","example":3,"description":"Cancels after accept since the last block / dismiss (`strikes_since`)"},"strike_limit":{"type":"integer","example":3},"flagged":{"type":"boolean","example":true,"description":"`cancel_strikes >= strike_limit`"},"strikes_since":{"type":"string","nullable":true,"example":"2026-09-20 09:00:00","description":"Last block / dismiss; null = since the account was created"},"is_blocked":{"type":"boolean","example":false},"blocked_until":{"type":"string","nullable":true,"example":null},"block_reason":{"type":"string","nullable":true,"example":null}}},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string"},"data":{"type":"object"}}},"ErrorResponse":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Validation failed"},"errors":{"type":"object","additionalProperties":{"type":"string"},"description":"Per-field error messages (optional)","example":{"phone_number":"phone_number is required","password":"password must contain at least one number"}}}},"CustomerSignupRequest":{"type":"object","required":["first_name","last_name","phone_number","password"],"properties":{"first_name":{"type":"string","minLength":2,"maxLength":100,"example":"Ahmad","description":"Letters only (any language). Spaces, hyphens and apostrophes allowed between words. No digits."},"last_name":{"type":"string","minLength":2,"maxLength":100,"example":"Ali","description":"Same rules as first_name"},"phone_number":{"type":"string","example":"0991234567","description":"Must be a **string** (so leading zeros are kept). Digits only; optional leading `+`. 8–15 digits. Arabic/Persian digits are normalized. Unique."},"email":{"type":"string","format":"email","nullable":true,"example":"ahmad@example.com","description":"Optional. Max 150 chars. Unique when provided."},"password":{"type":"string","format":"password","minLength":8,"maxLength":64,"example":"Passw0rd","description":"8–64 chars, no spaces, at least one letter and one number"},"address":{"type":"string","nullable":true,"maxLength":255,"example":"Damascus, Mazzeh","description":"Optional free-text address"},"device_info":{"type":"string","nullable":true,"maxLength":255,"example":"iPhone 15 / iOS 18","description":"Optional. Stored with the refresh token for session tracking. Falls back to User-Agent if omitted."},"fcm_token":{"type":"string","nullable":true,"maxLength":500,"example":"dXyz...FCM_DEVICE_TOKEN","description":"Optional Firebase Cloud Messaging device token. Stored in `device_tokens` for push notifications."},"platform":{"type":"string","enum":["ios","android"],"nullable":true,"example":"android","description":"Optional. Required context for FCM; defaults to `android` when `fcm_token` is sent."}}},"CustomerLoginRequest":{"type":"object","required":["phone_number","password"],"properties":{"phone_number":{"type":"string","example":"0991234567","description":"Same phone validation rules as signup"},"password":{"type":"string","format":"password","example":"Passw0rd","description":"Presence check only (no strength rules) so existing accounts are not locked out"},"device_info":{"type":"string","nullable":true,"maxLength":255,"example":"Android 14 / Pixel 8","description":"Optional. Stored with the refresh token. Falls back to User-Agent if omitted."},"fcm_token":{"type":"string","nullable":true,"maxLength":500,"example":"dXyz...FCM_DEVICE_TOKEN","description":"Optional Firebase Cloud Messaging device token. Upserted into `device_tokens`."},"platform":{"type":"string","enum":["ios","android"],"nullable":true,"example":"android","description":"Optional. Defaults to `android` when `fcm_token` is sent."}}},"CustomerLogoutRequest":{"type":"object","properties":{"refresh_token":{"type":"string","minLength":32,"maxLength":512,"description":"Required unless `all_devices` is true. Opaque refresh token from signup/login.","example":"a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"},"all_devices":{"type":"boolean","default":false,"description":"When true, revokes every active refresh token for this customer","example":false}}},"Notification":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":1},"recipient_type":{"type":"string","enum":["customer","driver"],"example":"customer"},"recipient_id":{"type":"integer","example":1},"notification_type":{"type":"string","example":"ride_accepted","description":"App-defined type key used by the client for routing/UI"},"title":{"type":"string","example":"Driver accepted your ride"},"body":{"type":"string","nullable":true,"example":"Ahmad is on the way"},"related_ride_id":{"type":"integer","nullable":true,"example":10},"related_warning_id":{"type":"integer","nullable":true,"example":null},"is_read":{"type":"boolean","example":false},"sent_at":{"type":"string","example":"2026-09-27 12:00:00"},"read_at":{"type":"string","nullable":true,"example":null}}},"NotificationListData":{"type":"object","properties":{"notifications":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}},"unread_count":{"type":"integer","example":3,"description":"Total unread notifications for this customer (badge)"},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1},"limit":{"type":"integer","example":20},"total":{"type":"integer","example":1},"total_pages":{"type":"integer","example":1}}}}},"RideStop":{"type":"object","properties":{"id":{"type":"integer","example":1},"stop_order":{"type":"integer","example":1},"lat":{"type":"number","format":"double","example":33.512},"lng":{"type":"number","format":"double","example":36.283},"address":{"type":"string","nullable":true,"example":"Pharmacy stop"},"fee_charged":{"type":"number","format":"double","example":500},"started_at":{"type":"string","example":"2026-09-27 13:00:00"},"ended_at":{"type":"string","nullable":true,"example":null}}},"Ride":{"type":"object","description":"Customer-facing ride/order. Internal commission split fields are not exposed here.","properties":{"id":{"type":"integer","example":1},"customer_id":{"type":"integer","example":1},"driver_id":{"type":"integer","nullable":true,"example":null,"description":"Set once a driver accepts the ride"},"vehicle_type_id":{"type":"integer","example":1},"order_source":{"type":"string","enum":["app","whatsapp","call"],"example":"app","description":"Static order channel. Customer app flow always stores `app` (do not send it). `whatsapp` / `call` for manager-created orders."},"pickup_lat":{"type":"number","format":"double","example":33.5138},"pickup_lng":{"type":"number","format":"double","example":36.2765},"pickup_address":{"type":"string","nullable":true,"example":"Umayyad Square, Damascus"},"dropoff_lat":{"type":"number","format":"double","example":33.5099},"dropoff_lng":{"type":"number","format":"double","example":36.2919},"dropoff_address":{"type":"string","nullable":true,"example":"Damascus University"},"distance_km":{"type":"number","format":"double","nullable":true,"example":2.14,"description":"Estimated straight-line (Haversine) distance at order time"},"actual_distance_km":{"type":"number","format":"double","nullable":true,"example":null,"description":"Distance the driver reported at finish (null until completed)"},"estimated_duration_min":{"type":"integer","nullable":true,"example":4,"description":"Heuristic ETA based on an average city speed"},"price_per_km_applied":{"type":"number","format":"double","example":500},"stops_fee_total":{"type":"number","format":"double","example":0},"waiting_fee":{"type":"number","example":1000,"description":"Waiting-at-pickup fee (final once the trip started; 0 if none). Included in price at finish."},"waiting":{"$ref":"#/components/schemas/RideWaiting"},"pause_fee_total":{"type":"number","example":3500,"description":"Fees of closed pauses during the trip (final amounts). Included in price at finish."},"pause":{"$ref":"#/components/schemas/RidePause"},"pauses":{"type":"array","items":{"$ref":"#/components/schemas/RidePauseItem"},"description":"Each pause of the trip (single-ride detail endpoints only)"},"arrived_at":{"type":"string","nullable":true,"example":"2026-09-30 15:40:00","description":"When the driver tapped arrived (waiting timer start)"},"price":{"type":"number","format":"double","example":2070,"description":"Estimated price until the ride is completed; after finish = final price (base_fare + actual_distance_km × price_per_km + stops_fee_total)"},"estimated_price":{"type":"number","format":"double","example":2070,"description":"Price quoted at order time (never changes)"},"final_price":{"type":"number","format":"double","nullable":true,"example":null,"description":"Amount due, set once the ride is completed (= price); null before that"},"payment_status":{"type":"string","enum":["unpaid","paid"],"example":"unpaid","description":"Becomes `paid` when the driver confirms the customer paid (or a manager marks it paid). completed + unpaid = customer still has to pay the driver"},"paid_at":{"type":"string","nullable":true,"example":null},"payment_confirmed_by":{"type":"string","nullable":true,"enum":["driver","manager",null],"example":null},"has_route":{"type":"boolean","example":true,"description":"The driver uploaded the driven GPS route for this ride"},"route_distance_km":{"type":"number","nullable":true,"example":12.31,"description":"Length of the uploaded route (sum of point-to-point distances); null if no route"},"route":{"type":"array","nullable":true,"items":{"$ref":"#/components/schemas/RoutePoint"},"description":"Driven GPS path in time order, or null if none was uploaded. Only on the single-ride detail endpoints (never in lists). With ?simplify=true the path is thinned (~10 m tolerance)."},"status_id":{"type":"integer","enum":[1,2,3,4,5,6],"example":1,"description":"1=requested, 2=accepted, 3=arrived, 4=in_progress, 5=completed, 6=cancelled. See docs/ride_statuses.md"},"status":{"type":"string","enum":["requested","accepted","arrived","in_progress","completed","cancelled"],"example":"requested","description":"Human-readable name for status_id (from ride_statuses lookup)"},"requested_at":{"type":"string","example":"2026-09-27 13:00:00"},"accepted_at":{"type":"string","nullable":true,"example":null},"started_at":{"type":"string","nullable":true,"example":null},"completed_at":{"type":"string","nullable":true,"example":null},"cancelled_at":{"type":"string","nullable":true,"example":null},"cancellation_reason":{"type":"string","nullable":true,"example":null},"cancelled_by":{"type":"string","nullable":true,"enum":["customer","driver","manager",null],"example":null,"description":"Who cancelled the ride (null unless cancelled)"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/RideStop"},"description":"Only included on the single-ride detail endpoint"}}},"RideStopInput":{"type":"object","required":["lat","lng"],"properties":{"lat":{"type":"number","format":"double","minimum":-90,"maximum":90,"example":33.512},"lng":{"type":"number","format":"double","minimum":-180,"maximum":180,"example":36.283},"address":{"type":"string","nullable":true,"maxLength":255,"example":"Pharmacy stop"}}},"CreateRideRequest":{"type":"object","required":["vehicle_type_id","pickup_lat","pickup_lng","dropoff_lat","dropoff_lng"],"properties":{"vehicle_type_id":{"type":"integer","example":1,"description":"Must reference an active row in vehicle_types"},"pickup_lat":{"type":"number","format":"double","minimum":-90,"maximum":90,"example":33.5138},"pickup_lng":{"type":"number","format":"double","minimum":-180,"maximum":180,"example":36.2765},"pickup_address":{"type":"string","nullable":true,"maxLength":255,"example":"Umayyad Square, Damascus"},"dropoff_lat":{"type":"number","format":"double","minimum":-90,"maximum":90,"example":33.5099},"dropoff_lng":{"type":"number","format":"double","minimum":-180,"maximum":180,"example":36.2919},"dropoff_address":{"type":"string","nullable":true,"maxLength":255,"example":"Damascus University"},"stops":{"type":"array","maxItems":5,"items":{"$ref":"#/components/schemas/RideStopInput"},"description":"Optional intermediate stops (max 5). Each adds the current stop fee."}}},"RideListData":{"type":"object","properties":{"rides":{"type":"array","items":{"$ref":"#/components/schemas/Ride"}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1},"limit":{"type":"integer","example":20},"total":{"type":"integer","example":1},"total_pages":{"type":"integer","example":1}}}}},"Driver":{"type":"object","description":"Public driver profile (never includes password_hash)","properties":{"id":{"type":"integer","example":1},"first_name":{"type":"string","example":"Karim"},"last_name":{"type":"string","example":"Hassan"},"photo_url":{"type":"string","nullable":true,"example":"/uploads/drivers/1710000000-abc.jpg","description":"Personal photo URL (served from host ./uploads)"},"phone_number":{"type":"string","example":"0997654321"},"address":{"type":"string","nullable":true,"example":"Damascus, Midan"},"language":{"type":"string","enum":["ar","en"],"example":"ar","description":"App language — notifications are sent in it. Set via PUT /api/driver/language"},"status_id":{"type":"integer","enum":[1,2,3,4],"example":1,"description":"1=pending, 2=active, 3=suspended, 4=rejected. See docs/driver_statuses.md"},"status":{"type":"string","enum":["pending","active","suspended","rejected"],"example":"pending"},"wallet_balance":{"type":"number","format":"double","example":0},"search_radius_km":{"type":"number","format":"double","example":1},"current_lat":{"type":"number","nullable":true,"example":null},"current_lng":{"type":"number","nullable":true,"example":null},"is_online":{"type":"boolean","example":false},"rating":{"type":"number","format":"double","nullable":true,"example":5},"created_at":{"type":"string","example":"2026-09-27 14:00:00"},"updated_at":{"type":"string","example":"2026-09-27 14:00:00"}}},"DriverVehicle":{"type":"object","properties":{"id":{"type":"integer","example":1},"driver_id":{"type":"integer","example":1},"vehicle_type_id":{"type":"integer","example":1},"vehicle_type_name":{"type":"string","example":"economy"},"brand":{"type":"string","example":"Toyota"},"model":{"type":"string","example":"Corolla"},"color":{"type":"string","example":"White"},"plate_number":{"type":"string","example":"12345-A"},"photo_url":{"type":"string","nullable":true,"example":"/uploads/vehicles/1710000000-xyz.jpg","description":"Car photo URL (served from host ./uploads)"},"created_at":{"type":"string","example":"2026-09-27 14:00:00"},"updated_at":{"type":"string","example":"2026-09-27 14:00:00"}}},"DriverSignupRequest":{"type":"object","required":["first_name","last_name","phone_number","password","vehicle_type_id","brand","model","color","plate_number","photo","vehicle_photo"],"properties":{"first_name":{"type":"string","minLength":2,"maxLength":100,"example":"Karim"},"last_name":{"type":"string","minLength":2,"maxLength":100,"example":"Hassan"},"phone_number":{"type":"string","example":"0997654321","description":"Unique among drivers"},"password":{"type":"string","format":"password","minLength":8,"maxLength":64,"example":"Passw0rd"},"address":{"type":"string","nullable":true,"maxLength":255,"example":"Damascus, Midan"},"device_info":{"type":"string","nullable":true,"maxLength":255,"example":"Android 14 / Pixel 8"},"vehicle_type_id":{"type":"integer","example":1,"description":"Active vehicle type id (1=economy, 2=comfort, 3=van)"},"brand":{"type":"string","maxLength":50,"example":"Toyota"},"model":{"type":"string","maxLength":50,"example":"Corolla"},"color":{"type":"string","maxLength":30,"example":"White"},"plate_number":{"type":"string","maxLength":20,"example":"12345-A"},"photo":{"type":"string","format":"binary","description":"Personal/driver photo (JPEG/PNG/WebP, max 5 MB)"},"vehicle_photo":{"type":"string","format":"binary","description":"Car photo (JPEG/PNG/WebP, max 5 MB)"}}},"DriverLoginRequest":{"type":"object","required":["phone_number","password"],"properties":{"phone_number":{"type":"string","example":"0997654321"},"password":{"type":"string","format":"password","example":"Passw0rd"},"fcm_token":{"type":"string","nullable":true,"maxLength":500,"example":"dXyz...FCM_DEVICE_TOKEN","description":"Optional Firebase Cloud Messaging device token. Stored for push notifications. (Not collected on driver signup.)"},"platform":{"type":"string","enum":["ios","android"],"nullable":true,"example":"android","description":"Optional. Defaults to `android` when `fcm_token` is sent."}}},"DriverAuthSuccessData":{"type":"object","properties":{"driver":{"$ref":"#/components/schemas/Driver"},"vehicle":{"allOf":[{"$ref":"#/components/schemas/DriverVehicle"}],"nullable":true},"tokens":{"$ref":"#/components/schemas/AuthTokens"}}},"DriverRide":{"type":"object","description":"Driver-facing ride — includes earning/commission fields that customers do not see","properties":{"id":{"type":"integer","example":1},"customer_id":{"type":"integer","example":4},"driver_id":{"type":"integer","example":2},"vehicle_type_id":{"type":"integer","example":1},"order_source":{"type":"string","enum":["app","whatsapp","call"],"example":"app"},"pickup_lat":{"type":"number","example":33.5138},"pickup_lng":{"type":"number","example":36.2765},"pickup_address":{"type":"string","nullable":true},"dropoff_lat":{"type":"number","example":33.5099},"dropoff_lng":{"type":"number","example":36.2919},"dropoff_address":{"type":"string","nullable":true},"distance_km":{"type":"number","example":1.49},"actual_distance_km":{"type":"number","nullable":true,"example":null},"estimated_price":{"type":"number","example":1745},"estimated_duration_min":{"type":"integer","example":3},"price_per_km_applied":{"type":"number","example":500},"stops_fee_total":{"type":"number","example":0},"waiting_fee":{"type":"number","example":1000,"description":"Waiting-at-pickup fee (final once the trip started; 0 if none). Included in price at finish."},"waiting":{"$ref":"#/components/schemas/RideWaiting"},"pause_fee_total":{"type":"number","example":3500,"description":"Fees of closed pauses during the trip (final amounts). Included in price at finish."},"pause":{"$ref":"#/components/schemas/RidePause"},"arrived_at":{"type":"string","nullable":true,"example":"2026-09-30 15:40:00","description":"When the driver tapped arrived (waiting timer start)"},"price":{"type":"number","example":1745},"commission_rate_applied":{"type":"number","example":15},"admin_commission_amount":{"type":"number","example":261.75},"driver_earning_amount":{"type":"number","example":1483.25},"payment_status":{"type":"string","enum":["unpaid","paid"],"example":"unpaid","description":"Set to `paid` by POST /api/driver/rides/{id}/confirm-payment"},"paid_at":{"type":"string","nullable":true,"example":null},"payment_confirmed_by":{"type":"string","nullable":true,"enum":["driver","manager",null],"example":null},"has_route":{"type":"boolean","example":true,"description":"The driver uploaded the driven GPS route for this ride"},"route_distance_km":{"type":"number","nullable":true,"example":12.31,"description":"Length of the uploaded route (sum of point-to-point distances); null if no route"},"payment":{"allOf":[{"$ref":"#/components/schemas/RidePayment"}],"description":"Only in the confirm-payment response"},"status_id":{"type":"integer","enum":[1,2,3,4,5,6],"example":2},"status":{"type":"string","example":"accepted"},"requested_at":{"type":"string"},"accepted_at":{"type":"string","nullable":true},"started_at":{"type":"string","nullable":true},"completed_at":{"type":"string","nullable":true},"cancelled_at":{"type":"string","nullable":true},"cancellation_reason":{"type":"string","nullable":true},"cancelled_by":{"type":"string","nullable":true,"enum":["customer","driver","manager",null]},"stops":{"type":"array","items":{"$ref":"#/components/schemas/RideStop"}},"customer":{"type":"object","nullable":true,"description":"Rider contact (call them at pickup). In single-ride responses and `driver:active_ride`; not in lists.","properties":{"id":{"type":"integer","example":4},"first_name":{"type":"string","example":"Ahmad"},"last_name":{"type":"string","example":"Ali"},"phone_number":{"type":"string","example":"0991234567"}}}}},"AdminOrder":{"type":"object","description":"Manager-facing order — full ride fields including commission / driver earning split","properties":{"id":{"type":"integer","example":8},"customer_id":{"type":"integer","example":14},"driver_id":{"type":"integer","nullable":true,"example":2},"vehicle_type_id":{"type":"integer","example":1},"order_source":{"type":"string","enum":["app","whatsapp","call"],"example":"app","description":"Order channel: app | whatsapp | call"},"created_by_manager_id":{"type":"integer","nullable":true,"example":null,"description":"Manager who created the order from the dashboard; null for app orders"},"pickup_lat":{"type":"number","format":"double","example":33.51},"pickup_lng":{"type":"number","format":"double","example":36.27},"pickup_address":{"type":"string","nullable":true,"example":"Umayyad Square, Damascus"},"dropoff_lat":{"type":"number","format":"double","example":33.52},"dropoff_lng":{"type":"number","format":"double","example":36.28},"dropoff_address":{"type":"string","nullable":true,"example":"Damascus University"},"distance_km":{"type":"number","format":"double","nullable":true,"example":1.45},"actual_distance_km":{"type":"number","format":"double","nullable":true,"example":null},"estimated_price":{"type":"number","format":"double","example":1725},"estimated_duration_min":{"type":"integer","nullable":true,"example":3},"price_per_km_applied":{"type":"number","format":"double","example":500},"stops_fee_total":{"type":"number","format":"double","example":0},"waiting_fee":{"type":"number","example":1000,"description":"Waiting-at-pickup fee (final once the trip started; 0 if none). Included in price at finish."},"waiting":{"$ref":"#/components/schemas/RideWaiting"},"pause_fee_total":{"type":"number","example":3500,"description":"Fees of closed pauses during the trip (final amounts). Included in price at finish."},"pause":{"$ref":"#/components/schemas/RidePause"},"pauses":{"type":"array","items":{"$ref":"#/components/schemas/RidePauseItem"},"description":"Each pause of the trip (single-ride detail endpoints only)"},"arrived_at":{"type":"string","nullable":true,"example":"2026-09-30 15:40:00","description":"When the driver tapped arrived (waiting timer start)"},"price":{"type":"number","format":"double","example":1725},"commission_rate_applied":{"type":"number","format":"double","example":15},"admin_commission_amount":{"type":"number","format":"double","example":258.75},"driver_earning_amount":{"type":"number","format":"double","example":1466.25},"payment_status":{"type":"string","enum":["unpaid","paid"],"example":"unpaid","description":"paid = customer paid and the commission was deducted from the driver wallet"},"paid_at":{"type":"string","nullable":true,"example":null},"payment_confirmed_by":{"type":"string","nullable":true,"enum":["driver","manager",null],"example":null},"has_route":{"type":"boolean","example":true,"description":"The driver uploaded the driven GPS route for this ride"},"route_distance_km":{"type":"number","nullable":true,"example":12.31,"description":"Length of the uploaded route (sum of point-to-point distances); null if no route"},"route":{"type":"array","nullable":true,"items":{"$ref":"#/components/schemas/RoutePoint"},"description":"Driven GPS path in time order, or null if none was uploaded. Only on the single-ride detail endpoints (never in lists). With ?simplify=true the path is thinned (~10 m tolerance)."},"status_id":{"type":"integer","enum":[1,2,3,4,5,6],"example":3},"status":{"type":"string","enum":["requested","accepted","arrived","in_progress","completed","cancelled"],"example":"arrived"},"requested_at":{"type":"string","example":"2026-09-27 11:36:12"},"accepted_at":{"type":"string","nullable":true,"example":"2026-09-27 11:36:12"},"started_at":{"type":"string","nullable":true,"example":null},"completed_at":{"type":"string","nullable":true,"example":null},"cancelled_at":{"type":"string","nullable":true,"example":null},"cancellation_reason":{"type":"string","nullable":true,"example":null},"cancelled_by":{"type":"string","nullable":true,"enum":["customer","driver","manager",null],"example":null,"description":"Who cancelled the ride (null unless cancelled)"}}},"AdminOrdersListData":{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/components/schemas/AdminOrder"}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1},"limit":{"type":"integer","example":2},"total":{"type":"integer","example":8},"total_pages":{"type":"integer","example":4}}},"filters":{"type":"object","properties":{"from_date":{"type":"string","format":"date","nullable":true,"example":"2026-09-01"},"to_date":{"type":"string","format":"date","nullable":true,"example":"2026-09-27"}}}}},"VehicleType":{"type":"object","description":"Car class / vehicle type (economy, comfort, VIP, …)","properties":{"id":{"type":"integer","example":4},"name":{"type":"string","example":"VIP"},"description":{"type":"string","nullable":true,"example":"Premium luxury cars"},"is_active":{"type":"boolean","example":true},"created_at":{"type":"string","example":"2026-09-27 14:00:00"}}},"CreateVehicleTypeRequest":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":2,"maxLength":50,"example":"VIP","description":"Unique display name for the car class"},"description":{"type":"string","nullable":true,"maxLength":255,"example":"Premium luxury cars"},"is_active":{"type":"boolean","default":true,"example":true,"description":"Defaults to true when omitted"}}},"UpdateVehicleTypeRequest":{"type":"object","description":"Partial update — send at least one field","properties":{"name":{"type":"string","minLength":2,"maxLength":50,"example":"vip"},"description":{"type":"string","nullable":true,"maxLength":255,"example":"Top-tier luxury fleet"},"is_active":{"type":"boolean","example":true,"description":"Set false to deactivate, true to re-activate"}}},"PricingTier":{"type":"object","description":"Distance-band pricing for a vehicle type. Quote uses base_fare + distance_km * price_per_km.","properties":{"id":{"type":"integer","example":7},"vehicle_type_id":{"type":"integer","example":2},"min_distance_km":{"type":"number","format":"double","example":5},"max_distance_km":{"type":"number","format":"double","nullable":true,"example":8,"description":"Null = open-ended upper bound (e.g. 8+ km)"},"price_per_km":{"type":"number","format":"double","example":800},"base_fare":{"type":"number","format":"double","example":1500},"is_active":{"type":"boolean","example":true},"created_at":{"type":"string","example":"2026-09-27 15:00:00"},"updated_at":{"type":"string","example":"2026-09-27 15:00:00"}}},"CreatePricingTierRequest":{"type":"object","required":["vehicle_type_id","min_distance_km","price_per_km"],"properties":{"vehicle_type_id":{"type":"integer","example":2,"description":"Target vehicle type (e.g. 2 = comfort)"},"min_distance_km":{"type":"number","minimum":0,"example":5,"description":"Inclusive lower bound of the distance band (km)"},"max_distance_km":{"type":"number","nullable":true,"example":8,"description":"Inclusive upper bound; null / omitted = open-ended"},"price_per_km":{"type":"number","minimum":0,"example":800,"description":"Per-km rate applied when ride distance falls in this band"},"base_fare":{"type":"number","minimum":0,"default":0,"example":1500,"description":"Fixed base fare for this band (defaults to 0)"},"is_active":{"type":"boolean","default":true,"example":true}}},"UpdatePricingTierRequest":{"type":"object","description":"Partial update — send at least one field","properties":{"vehicle_type_id":{"type":"integer","example":2},"min_distance_km":{"type":"number","minimum":0,"example":5},"max_distance_km":{"type":"number","nullable":true,"example":10},"price_per_km":{"type":"number","minimum":0,"example":850},"base_fare":{"type":"number","minimum":0,"example":1500},"is_active":{"type":"boolean","example":true}}},"VehicleTypeSummary":{"type":"object","properties":{"id":{"type":"integer","example":1},"name":{"type":"string","example":"economy"},"description":{"type":"string","nullable":true},"is_active":{"type":"boolean","example":true}}},"DistanceTier":{"type":"object","description":"Active distance tier: trips whose distance is in [min, max] pay distance × price_per_km","properties":{"id":{"type":"integer","example":31},"min_distance_km":{"type":"number","example":0.51},"max_distance_km":{"type":"number","nullable":true,"example":2.5,"description":"null = and above"},"price_per_km":{"type":"number","example":600},"base_fare":{"type":"number","example":0},"updated_at":{"type":"string","example":"2026-09-30 16:40:00"}}},"DistanceTierInput":{"type":"object","required":["min_distance_km","price_per_km"],"properties":{"min_distance_km":{"type":"number","minimum":0,"example":0.51,"description":"km, up to 3 decimals"},"max_distance_km":{"type":"number","nullable":true,"example":2.5,"description":"km; null / omitted = and above (last tier only)"},"price_per_km":{"type":"number","minimum":0,"maximum":1000000,"example":600},"base_fare":{"type":"number","minimum":0,"default":0,"example":0}}},"VehicleTypePricing":{"type":"object","properties":{"vehicle_type":{"$ref":"#/components/schemas/VehicleTypeSummary"},"tiers":{"type":"array","items":{"$ref":"#/components/schemas/DistanceTier"}}}},"CommissionTierInput":{"type":"object","required":["min_distance_km","rate_percentage"],"properties":{"min_distance_km":{"type":"number","minimum":0,"example":9.801},"max_distance_km":{"type":"number","nullable":true,"example":null},"rate_percentage":{"type":"number","minimum":0,"maximum":100,"example":10}}},"CommissionTiers":{"type":"object","properties":{"tiers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2},"min_distance_km":{"type":"number","example":9.801},"max_distance_km":{"type":"number","nullable":true,"example":null},"rate_percentage":{"type":"number","example":10},"set_by_user_id":{"type":"integer","nullable":true,"example":15},"created_at":{"type":"string","example":"2026-09-30 16:40:00"}}}},"fallback_rate_percentage":{"type":"number","example":5,"description":"Flat rate (PUT /api/admin/commission) used only when tiers is empty"},"uses_tiers":{"type":"boolean","example":true}}},"AdminCustomerLookupItem":{"type":"object","properties":{"id":{"type":"integer","example":21},"first_name":{"type":"string","example":"Ahmad"},"last_name":{"type":"string","example":"Ali"},"phone_number":{"type":"string","example":"0991234567"},"is_guest":{"type":"boolean","example":false}}},"AdminAvailableDriver":{"type":"object","description":"Active driver with a car and no active ride","properties":{"id":{"type":"integer","example":3},"first_name":{"type":"string","example":"Omar"},"last_name":{"type":"string","example":"Hassan"},"phone_number":{"type":"string","example":"0944000111"},"photo_url":{"type":"string","nullable":true,"example":null},"rating":{"type":"number","nullable":true,"example":4.9},"is_online":{"type":"boolean","example":true},"lat":{"type":"number","nullable":true,"example":33.512},"lng":{"type":"number","nullable":true,"example":36.281},"distance_to_pickup_km":{"type":"number","nullable":true,"example":0.8,"description":"Straight line to pickup; null when the driver has no GPS yet"},"within_radius":{"type":"boolean","example":true,"description":"Pickup is inside the driver search radius (a broadcast would reach them)"},"vehicle":{"type":"object","properties":{"vehicle_type_id":{"type":"integer","example":1},"vehicle_type_name":{"type":"string","example":"Standard"},"brand":{"type":"string","example":"Kia"},"model":{"type":"string","example":"Rio"},"color":{"type":"string","example":"White"},"plate_number":{"type":"string","example":"123456"}}}}},"DriverDeletionRequest":{"type":"object","description":"A driver asking to delete the account; a manager approves or rejects it","properties":{"id":{"type":"integer","example":7},"driver_id":{"type":"integer","example":2},"status":{"type":"string","enum":["pending","approved","rejected","cancelled"],"example":"pending"},"source":{"type":"string","enum":["app","web"],"example":"app"},"reason":{"type":"string","nullable":true,"example":"I stopped driving"},"wallet_balance_at_request":{"type":"number","example":4000},"requested_at":{"type":"string","example":"2026-09-30 14:30:00"},"reviewed_at":{"type":"string","nullable":true,"example":null},"review_note":{"type":"string","nullable":true,"example":null}}},"AdminDriverDeletionRequest":{"allOf":[{"$ref":"#/components/schemas/DriverDeletionRequest"},{"type":"object","properties":{"reviewed_by":{"type":"object","nullable":true,"properties":{"id":{"type":"integer","example":15},"name":{"type":"string","nullable":true,"example":"Main Manager"}}},"driver":{"type":"object","description":"Current driver data — \"Deleted Driver\" once approved","properties":{"id":{"type":"integer","example":2},"first_name":{"type":"string","example":"Karim"},"last_name":{"type":"string","example":"Hassan"},"phone_number":{"type":"string","example":"0997654321"},"photo_url":{"type":"string","nullable":true,"example":"/uploads/drivers/abc.jpg"},"status_id":{"type":"integer","example":2},"status":{"type":"string","example":"active"},"wallet_balance":{"type":"number","example":4000},"rating":{"type":"number","nullable":true,"example":4.9},"is_online":{"type":"boolean","example":false},"completed_rides":{"type":"integer","example":120}}}}}]},"DriverFine":{"type":"object","description":"Fine / غرامة issued by a manager against a driver","properties":{"id":{"type":"integer","example":1},"reason":{"type":"string","example":"Cancelled ride after pickup without reason"},"amount":{"type":"number","format":"double","example":5000},"issued_by_user_id":{"type":"integer","example":15,"description":"Manager customer id who issued the fine"},"is_read":{"type":"boolean","example":false},"created_at":{"type":"string","example":"2026-09-27 16:20:00"}}},"AdminDriver":{"allOf":[{"$ref":"#/components/schemas/Driver"},{"type":"object","properties":{"fines":{"type":"array","items":{"$ref":"#/components/schemas/DriverFine"}},"fines_count":{"type":"integer","example":1},"fines_total":{"type":"number","format":"double","example":5000,"description":"Sum of all fine amounts"},"wallet_transactions":{"type":"array","items":{"$ref":"#/components/schemas/WalletTransaction"},"description":"Full wallet history for this driver (newest first)"},"wallet_transactions_count":{"type":"integer","example":3},"vehicle":{"nullable":true,"description":"Driver vehicle (null if none registered)","allOf":[{"$ref":"#/components/schemas/DriverVehicle"}]},"live_status":{"type":"string","enum":["offline","free","on_the_way","arrived","in_progress"],"example":"on_the_way","description":"What the driver is doing now (derived from active ride + socket presence). Separate from account `status`. Realtime: socket `manager:driver_status`."},"active_ride_id":{"type":"integer","nullable":true,"example":8,"description":"Current ride (accepted / arrived / in_progress), else null"}}}]},"CustomerLiveStatus":{"type":"object","properties":{"live_status":{"type":"string","enum":["idle","searching","driver_on_the_way","driver_arrived","in_progress"],"example":"driver_on_the_way","description":"What the customer is doing now (derived from active ride). Realtime: socket `manager:customer_status`."},"active_ride_id":{"type":"integer","nullable":true,"example":41,"description":"Current ride (requested / accepted / arrived / in_progress), else null"}}},"Complaint":{"type":"object","description":"Complaint (شكوى) from a customer or driver","properties":{"id":{"type":"integer","example":1},"complainant_type":{"type":"string","enum":["customer","driver"],"example":"customer"},"complainant_id":{"type":"integer","example":14},"subject":{"type":"string","nullable":true,"example":"Driver was rude"},"message":{"type":"string","example":"The driver spoke aggressively during the trip."},"status":{"type":"string","enum":["open","in_review","resolved","closed"],"example":"open"},"created_at":{"type":"string","example":"2026-09-27 16:30:00"},"updated_at":{"type":"string","example":"2026-09-27 16:30:00"}}},"CreateComplaintRequest":{"type":"object","required":["message"],"properties":{"message":{"type":"string","minLength":5,"maxLength":1000,"example":"The driver spoke aggressively during the trip."},"subject":{"type":"string","nullable":true,"maxLength":150,"example":"Driver was rude"}}},"ComplaintListData":{"type":"object","properties":{"complaints":{"type":"array","items":{"$ref":"#/components/schemas/Complaint"}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1},"limit":{"type":"integer","example":20},"total":{"type":"integer","example":2},"total_pages":{"type":"integer","example":1}}}}},"WalletTransaction":{"type":"object","properties":{"id":{"type":"integer","example":5},"driver_id":{"type":"integer","example":2},"transaction_type":{"type":"string","enum":["topup","commission_deduction","penalty","compensation","reward"],"example":"topup"},"amount":{"type":"number","example":10000},"balance_after":{"type":"number","example":4000},"related_ride_id":{"type":"integer","nullable":true,"example":null},"related_warning_id":{"type":"integer","nullable":true,"example":null},"description":{"type":"string","nullable":true,"example":"Bonus for high rating"},"created_by_user_id":{"type":"integer","nullable":true,"example":15},"created_at":{"type":"string","example":"2026-09-27 13:31:17"}}},"WalletHistoryData":{"type":"object","properties":{"driver":{"$ref":"#/components/schemas/Driver"},"wallet_balance":{"type":"number","example":4000},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/WalletTransaction"}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1},"limit":{"type":"integer","example":20},"total":{"type":"integer","example":3},"total_pages":{"type":"integer","example":1}}},"filters":{"type":"object","properties":{"transaction_type":{"type":"string","nullable":true,"example":null}}}}},"Terms":{"type":"object","properties":{"audience":{"type":"string","enum":["customer","driver"],"example":"customer"},"language":{"type":"string","enum":["ar","en"],"example":"ar"},"content":{"type":"string","example":"1. باستخدامك التطبيق فإنك توافق على هذه الشروط.","description":"Exactly as saved (line breaks kept); empty string until set"},"updated_at":{"type":"string","nullable":true,"example":"2026-09-29 17:00:00"}}},"TermsAllLanguages":{"type":"object","properties":{"audience":{"type":"string","enum":["customer","driver"],"example":"customer"},"ar":{"$ref":"#/components/schemas/Terms"},"en":{"$ref":"#/components/schemas/Terms"}}},"PrivacyPolicy":{"type":"object","properties":{"language":{"type":"string","enum":["ar","en"],"example":"en"},"format":{"type":"string","enum":["markdown"],"example":"markdown"},"content":{"type":"string","example":"# Privacy Policy\n\n**Effective date and last updated:** September 30, 2026\n\n## 1. Who we are\n...","description":"Markdown; empty string until set"},"updated_at":{"type":"string","nullable":true,"example":"2026-09-30 19:20:00"},"url":{"type":"string","example":"https://smart-taxi.ma-core.net/privacy-policy?lang=en","description":"Same text as a web page (for a web view or \"open in browser\")"}}},"RoutePoint":{"type":"object","required":["lat","lng","recorded_at"],"properties":{"lat":{"type":"number","minimum":-90,"maximum":90,"example":33.5138},"lng":{"type":"number","minimum":-180,"maximum":180,"example":36.2765},"recorded_at":{"type":"string","format":"date-time","example":"2026-09-29T12:30:00Z","description":"ISO-8601 with timezone; returned normalized to UTC (…Z)"}}},"RideWaiting":{"type":"object","nullable":true,"description":"Waiting at pickup (driver tapped arrived → started trip). null if the driver never tapped arrived. While is_running, elapsed_seconds is measured by the server at response time — count up from it locally.","properties":{"arrived_at":{"type":"string","example":"2026-09-30 15:40:00"},"free_minutes":{"type":"integer","example":3},"price_per_minute":{"type":"number","example":500},"is_running":{"type":"boolean","example":false,"description":"true while status = arrived"},"elapsed_seconds":{"type":"integer","nullable":true,"example":310,"description":"Live (at response time) while running; final after start; null if cancelled while waiting"},"free_seconds_left":{"type":"integer","nullable":true,"example":0},"billable_minutes":{"type":"integer","example":3,"description":"Every started minute after the free minutes"},"fee":{"type":"number","example":1500,"description":"Fee so far while running; final after start"}}},"WaitingFeeSetting":{"type":"object","properties":{"id":{"type":"integer","nullable":true,"example":1},"free_minutes":{"type":"integer","example":3},"price_per_minute":{"type":"number","example":500},"set_by_user_id":{"type":"integer","nullable":true,"example":15},"effective_from":{"type":"string","nullable":true,"example":"2026-09-30 15:00:00"},"created_at":{"type":"string","nullable":true,"example":"2026-09-30 15:00:00"}}},"RidePause":{"type":"object","description":"Pauses during the trip (always present). current = the running pause (null if not paused); its elapsed_seconds is measured by the server at response time — count up from it locally. count / total_seconds / total_fee cover closed pauses only.","properties":{"is_paused":{"type":"boolean","example":true},"current":{"type":"object","nullable":true,"properties":{"started_at":{"type":"string","example":"2026-09-30 16:20:00"},"elapsed_seconds":{"type":"integer","example":95},"base_fee":{"type":"number","example":2000},"included_minutes":{"type":"integer","example":3},"price_per_minute":{"type":"number","example":500},"included_seconds_left":{"type":"integer","example":85},"extra_minutes":{"type":"integer","example":0},"fee":{"type":"number","example":2000,"description":"Fee of this pause so far"}}},"count":{"type":"integer","example":1},"total_seconds":{"type":"integer","example":320},"total_fee":{"type":"number","example":3500}}},"RidePauseItem":{"type":"object","properties":{"id":{"type":"integer","example":1},"started_at":{"type":"string","example":"2026-09-30 16:20:00"},"ended_at":{"type":"string","nullable":true,"example":"2026-09-30 16:25:20"},"duration_seconds":{"type":"integer","nullable":true,"example":320},"base_fee":{"type":"number","example":2000},"included_minutes":{"type":"integer","example":3},"price_per_minute":{"type":"number","example":500},"extra_minutes":{"type":"integer","nullable":true,"example":3},"fee":{"type":"number","nullable":true,"example":3500,"description":"null while still running"},"lat":{"type":"number","nullable":true,"example":33.5138},"lng":{"type":"number","nullable":true,"example":36.2765}}},"PauseFeeSetting":{"type":"object","properties":{"id":{"type":"integer","nullable":true,"example":1},"base_fee":{"type":"number","example":2000},"included_minutes":{"type":"integer","example":3},"price_per_minute":{"type":"number","example":500},"set_by_user_id":{"type":"integer","nullable":true,"example":15},"effective_from":{"type":"string","nullable":true,"example":"2026-09-30 15:00:00"},"created_at":{"type":"string","nullable":true,"example":"2026-09-30 15:00:00"}}},"RidePayment":{"type":"object","description":"Payment settlement returned by driver confirm-payment (`data.payment`) and admin mark-paid (`data`). The driver keeps the cash (`driver_share`); `manager_share` is deducted from the driver wallet.","properties":{"ride_id":{"type":"integer","example":42},"driver_id":{"type":"integer","example":7},"customer_id":{"type":"integer","example":5},"payment_status":{"type":"string","enum":["paid"],"example":"paid"},"paid_at":{"type":"string","example":"2026-09-29 15:10:00"},"confirmed_by":{"type":"string","enum":["driver","manager"],"example":"driver"},"final_price":{"type":"number","example":12400},"total_paid":{"type":"number","example":12400},"driver_share":{"type":"number","example":11780},"manager_share":{"type":"number","example":620},"commission_rate":{"type":"number","example":5},"wallet_balance_after":{"type":"number","example":3380,"description":"Driver wallet after the deduction"},"wallet_transaction_id":{"type":"integer","nullable":true,"example":57,"description":"null when the commission is 0 (no wallet movement)"}}},"SocketCustomerRideStatus":{"type":"object","description":"Socket event `customer:ride_status` (server → customer). Also sent as `driver:ride_status` to the driver. Extra fields depend on status: `completed` adds final_price / estimated_price / actual_distance_km / payment_status (always `unpaid` at finish); `cancelled` adds cancellation_reason / cancelled_by.","required":["ride_id","status_id","status","driver_id","customer_id"],"properties":{"ride_id":{"type":"integer","example":42},"status_id":{"type":"integer","enum":[3,4,5,6],"example":5},"status":{"type":"string","enum":["arrived","in_progress","completed","cancelled"],"example":"completed"},"driver_id":{"type":"integer","example":7},"customer_id":{"type":"integer","example":5},"final_price":{"type":"number","example":12400,"description":"completed only"},"estimated_price":{"type":"number","example":10200,"description":"completed only"},"actual_distance_km":{"type":"number","example":12.4,"description":"completed only"},"payment_status":{"type":"string","enum":["unpaid"],"example":"unpaid","description":"completed only"},"cancellation_reason":{"type":"string","nullable":true,"description":"cancelled only"},"cancelled_by":{"type":"string","enum":["customer","driver"],"description":"cancelled only"}}},"SocketCustomerRidePaid":{"type":"object","description":"Socket event `customer:ride_paid` (server → customer). Sent live when the driver confirms payment or a manager marks the order paid, and **replayed on every customer socket connect** for the latest completed ride if it was paid within the last 24 h. Also replayed after `customer:track_ride` on a paid ride. Idempotent — match by `ride_id`.","required":["ride_id","payment_status","paid_at","total_paid"],"properties":{"ride_id":{"type":"integer","example":42},"driver_id":{"type":"integer","example":7},"customer_id":{"type":"integer","example":5},"payment_status":{"type":"string","enum":["paid"],"example":"paid"},"paid_at":{"type":"string","example":"2026-09-29 15:10:00"},"confirmed_by":{"type":"string","enum":["driver","manager"],"example":"driver"},"final_price":{"type":"number","example":12400},"total_paid":{"type":"number","example":12400}}},"SocketCustomerActiveRide":{"type":"object","description":"Socket event `customer:active_ride` (server → customer), sent on every customer connect and after `customer:track_ride`. `ride` is, in order: the live trip (accepted / arrived / in_progress), else the latest **completed ride with payment_status = unpaid** (show \"pay the driver\"), else `null`. A paid ride is never returned here on connect — its state comes via the `customer:ride_paid` replay.","properties":{"ride":{"type":"object","nullable":true,"properties":{"id":{"type":"integer","example":42},"customer_id":{"type":"integer","example":5},"driver_id":{"type":"integer","example":7},"status_id":{"type":"integer","example":5},"status":{"type":"string","example":"completed"},"price":{"type":"number","example":12400},"estimated_price":{"type":"number","nullable":true,"example":10200},"actual_distance_km":{"type":"number","nullable":true,"example":12.4},"final_price":{"type":"number","nullable":true,"example":12400,"description":"null until completed"},"payment_status":{"type":"string","enum":["unpaid","paid"],"example":"unpaid"},"paid_at":{"type":"string","nullable":true,"example":null},"completed_at":{"type":"string","nullable":true,"example":"2026-09-29 15:05:00"}}},"driver":{"type":"object","nullable":true,"description":"id, first_name, last_name, photo_url, phone_number, rating"},"vehicle":{"type":"object","nullable":true,"description":"brand, model, color, plate_number, …"},"location":{"type":"object","nullable":true,"description":"Last driver GPS; always null for a completed ride"}}},"AdminChangePasswordRequest":{"type":"object","required":["password"],"properties":{"password":{"type":"string","minLength":8,"description":"New password — same strength rules as signup (letters + numbers, no spaces)","example":"NewPass2026"},"logout_devices":{"type":"boolean","default":true,"description":"Sign the user out on every device (revokes all refresh tokens), so the old password's\nsessions end and they must log in with the new one. Send `false` to keep existing sessions.\n"}}},"AdminChangePasswordResult":{"type":"object","properties":{"user_type":{"type":"string","enum":["customer","driver"],"example":"driver"},"user_id":{"type":"integer","example":7},"password_changed":{"type":"boolean","example":true},"logged_out_devices":{"type":"boolean","example":true},"revoked_sessions":{"type":"integer","example":2,"description":"Refresh tokens revoked"}}}},"responses":{"BadRequest":{"description":"Malformed request (e.g. invalid JSON body)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Invalid JSON body"}}}},"Unauthorized":{"description":"Invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Invalid phone number or password"}}}},"Forbidden":{"description":"Authenticated but not allowed (e.g. non-customer token)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Customer access only"}}}},"Conflict":{"description":"Phone or email already registered","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Account already exists","errors":{"phone_number":"phone_number is already registered"}}}}},"ValidationError":{"description":"One or more fields failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Validation failed","errors":{"first_name":"first_name is required","password":"password must be between 8 and 64 characters"}}}}},"NotFound":{"description":"Route does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Route not found"}}}},"InternalError":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"success":false,"message":"Internal server error"}}}}}},"paths":{"/":{"get":{"tags":["Health"],"summary":"Health check","description":"Returns a simple status payload confirming the service is running.","operationId":"healthCheck","responses":{"200":{"description":"Service is up","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"service":{"type":"string","example":"smart-taxi-backend"}}}}}}}}},"/api/admin/customers":{"get":{"tags":["Admin"],"summary":"List all customers (paginated)","description":"Manager-only. Returns customers with `account_type_id = 1` (excludes managers),\nnewest first.\n\nEach customer includes a live **`live_status`** + `active_ride_id`:\n`idle` | `searching` (waiting for a driver) | `driver_on_the_way` |\n`driver_arrived` | `in_progress`. Realtime updates: socket `manager:customer_status`.\n\nEach customer includes a **paginated** `orders` list (newest first) plus\n`orders_count` / `orders_pagination`. Nested page size is controlled by\n`orders_page` / `orders_limit` (same values applied to every customer on\nthe page — loaded in one batched SQL query for performance).\n","operationId":"adminListCustomers","security":[{"BearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"description":"Customers page"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Customers per page"},{"in":"query","name":"orders_page","schema":{"type":"integer","minimum":1,"default":1},"description":"Orders page for each customer"},{"in":"query","name":"orders_limit","schema":{"type":"integer","minimum":1,"maximum":50,"default":10},"description":"Orders per customer on this response"}],"responses":{"200":{"description":"Customers page with nested orders","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"customers":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Customer"},{"$ref":"#/components/schemas/CustomerLiveStatus"}]}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"total_pages":{"type":"integer"}}}}}}}]},"example":{"success":true,"message":"Customers retrieved successfully","data":{"customers":[{"id":14,"first_name":"Sara","last_name":"Ali","photo_url":null,"phone_number":"0912345678","email":null,"address":"Tripoli","account_type_id":1,"live_status":"driver_on_the_way","active_ride_id":41,"created_at":"2026-09-27 12:00:00","updated_at":"2026-09-27 12:00:00","orders_count":2,"orders_pagination":{"page":1,"limit":10,"total":2,"total_pages":1},"orders":[{"id":5,"customer_id":14,"driver_id":2,"price":1725,"status":"completed","requested_at":"2026-09-27 14:00:00"}]}],"pagination":{"page":1,"limit":20,"total":1,"total_pages":1}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"422":{"description":"Invalid query params"}}},"post":{"tags":["Admin"],"summary":"Create a customer account","description":"Manager-only. Creates a customer (`account_type_id = 1`) with a bcrypt-hashed\npassword. Does **not** issue tokens — the customer signs in later via\n`POST /api/customer/auth/login`.\n\n**Validation rules** (same as customer signup)\n| Field | Rules |\n|-------|-------|\n| `first_name` / `last_name` | Required, 2–100 chars, letters only |\n| `phone_number` | Required string, 8–15 digits, unique |\n| `email` | Optional, valid email, unique when provided |\n| `password` | Required, 8–64 chars, ≥1 letter and ≥1 number |\n| `address` | Optional, max 255 chars |\n","operationId":"adminCreateCustomer","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["first_name","last_name","phone_number","password"],"properties":{"first_name":{"type":"string","example":"Ahmad"},"last_name":{"type":"string","example":"Ali"},"phone_number":{"type":"string","example":"0991234567"},"email":{"type":"string","nullable":true,"example":"ahmad@example.com"},"password":{"type":"string","format":"password","example":"Passw0rd"},"address":{"type":"string","nullable":true,"example":"Tripoli"}}},"examples":{"minimal":{"summary":"Required fields only","value":{"first_name":"Ahmad","last_name":"Ali","phone_number":"0991234567","password":"Passw0rd"}},"full":{"summary":"All fields","value":{"first_name":"Ahmad","last_name":"Ali","phone_number":"0991234567","email":"ahmad@example.com","password":"Passw0rd","address":"Tripoli"}}}}}},"responses":{"201":{"description":"Customer created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Customer"}}}]},"example":{"success":true,"message":"Customer created successfully","data":{"id":20,"first_name":"Ahmad","last_name":"Ali","photo_url":null,"phone_number":"0991234567","email":"ahmad@example.com","address":"Tripoli","account_type_id":1,"created_at":"2026-09-28 12:00:00","updated_at":"2026-09-28 12:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"409":{"description":"Phone or email already registered"},"422":{"description":"Validation failed"}}}},"/api/admin/customers/{id}":{"put":{"tags":["Admin"],"summary":"Update a customer","description":"Manager-only. Partial update — send any of `first_name`, `last_name`,\n`phone_number`, `email`, `address`, `password`.\nOnly customers (`account_type_id = 1`) can be updated.\n","operationId":"adminUpdateCustomer","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":20}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string","example":"Ahmad"},"last_name":{"type":"string","example":"Ali"},"phone_number":{"type":"string","example":"0991234567"},"email":{"type":"string","nullable":true,"example":"ahmad@example.com"},"address":{"type":"string","nullable":true,"example":"Tripoli"},"password":{"type":"string","format":"password","example":"Passw0rd"}}},"example":{"first_name":"Ahmad","address":"Benghazi"}}}},"responses":{"200":{"description":"Customer updated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Customer"}}}]},"example":{"success":true,"message":"Customer updated successfully","data":{"id":20,"first_name":"Ahmad","last_name":"Created","photo_url":null,"phone_number":"0990593098","email":"mgr.0990593098@example.com","address":"Benghazi","account_type_id":1,"created_at":"2026-09-28 10:58:19","updated_at":"2026-09-28 15:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Customer not found"},"409":{"description":"Phone or email already registered"},"422":{"description":"Validation failed"}}}},"/api/admin/customers/{id}/password":{"put":{"tags":["Admin"],"summary":"Change a customer's password (manager only)","description":"Sets a new password for the customer — no old password needed. Manager accounts can't\nbe changed here (`404`). By default the customer is signed out on all devices.\nThe manager tells the customer the new password; it's never returned or sent by the API.\n","operationId":"adminChangeCustomerPassword","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminChangePasswordRequest"}}}},"responses":{"200":{"description":"Password changed","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AdminChangePasswordResult"}}}]}}}},"403":{"description":"Not a manager token"},"404":{"description":"Customer not found"},"422":{"description":"Weak/invalid password or invalid id"}}}},"/api/admin/drivers/{id}/password":{"put":{"tags":["Admin"],"summary":"Change a driver's password (manager only)","description":"Sets a new password for the driver — no old password needed. By default the driver is\nsigned out on all devices. The manager tells the driver the new password; it's never\nreturned or sent by the API.\n","operationId":"adminChangeDriverPassword","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminChangePasswordRequest"}}}},"responses":{"200":{"description":"Password changed","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AdminChangePasswordResult"}}}]}}}},"403":{"description":"Not a manager token"},"404":{"description":"Driver not found"},"422":{"description":"Weak/invalid password or invalid id"}}}},"/api/admin/drivers":{"get":{"tags":["Admin"],"summary":"List all drivers (paginated)","description":"Manager-only. Returns all drivers with status name, newest first.\n\n`status` = **account** status (pending / active / suspended / rejected).\n`live_status` = **what the driver is doing now**:\n`offline` | `free` | `on_the_way` (heading to pickup) | `arrived` | `in_progress`,\nplus `is_online` and `active_ride_id`. A driver on a trip keeps the trip status\neven if their app disconnects. Realtime updates: socket `manager:driver_status`.\n\nEach driver includes:\n- fines (غرامات): `fines`, `fines_count`, `fines_total`\n- wallet history: `wallet_transactions`, `wallet_transactions_count`\n- vehicle: brand, model, color, plate, type, photo (or null)\n- **paginated** `orders` (newest first) plus `orders_count` /\n  `orders_pagination` — controlled by `orders_page` / `orders_limit`\n  (same values for every driver on the page; one batched SQL query)\n","operationId":"adminListDrivers","security":[{"BearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"description":"Drivers page"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Drivers per page"},{"in":"query","name":"orders_page","schema":{"type":"integer","minimum":1,"default":1},"description":"Orders page for each driver"},{"in":"query","name":"orders_limit","schema":{"type":"integer","minimum":1,"maximum":50,"default":10},"description":"Orders per driver on this response"}],"responses":{"200":{"description":"Drivers page with nested orders","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"drivers":{"type":"array","items":{"$ref":"#/components/schemas/AdminDriver"}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"total_pages":{"type":"integer"}}}}}}}]},"example":{"success":true,"message":"Drivers retrieved successfully","data":{"drivers":[{"id":2,"first_name":"Omar","last_name":"Hassan","phone_number":"0911111111","status":"active","wallet_balance":150.5,"is_online":true,"live_status":"on_the_way","active_ride_id":8,"orders_count":3,"orders_pagination":{"page":1,"limit":10,"total":3,"total_pages":1},"orders":[{"id":8,"customer_id":14,"driver_id":2,"price":1725,"status":"arrived"}]}],"pagination":{"page":1,"limit":20,"total":5,"total_pages":1}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"}}}},"/api/admin/drivers/{id}/status":{"put":{"tags":["Admin"],"summary":"Change a driver's status","description":"Manager-only. Sets `drivers.status_id`.\n\n| ID | Name | Meaning |\n|----|------|---------|\n| 1 | pending | Waiting for approval |\n| 2 | active | Can go online and accept rides |\n| 3 | suspended | Temporarily blocked |\n| 4 | rejected | Application rejected |\n\nWhen status is not `active`, the driver is forced offline (`is_online = false`).\n","operationId":"adminUpdateDriverStatus","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":2}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status_id"],"properties":{"status_id":{"type":"integer","enum":[1,2,3,4],"example":2}}},"examples":{"approve":{"summary":"Approve (active)","value":{"status_id":2}},"suspend":{"summary":"Suspend","value":{"status_id":3}},"reject":{"summary":"Reject","value":{"status_id":4}}}}}},"responses":{"200":{"description":"Driver status updated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Driver"}}}]},"example":{"success":true,"message":"Driver status updated successfully","data":{"id":2,"first_name":"Karim","last_name":"Hassan","photo_url":"/uploads/drivers/abc.jpg","phone_number":"0920507660","address":"Damascus, Midan","status_id":2,"status":"active","wallet_balance":0,"search_radius_km":1,"current_lat":null,"current_lng":null,"is_online":false,"rating":5,"created_at":"2026-09-27 14:00:00","updated_at":"2026-09-27 16:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Driver not found"},"422":{"description":"Invalid status_id"}}}},"/api/admin/drivers/{id}/fines":{"post":{"tags":["Admin"],"summary":"Issue a fine (غرامة) on a driver","description":"Manager-only. Creates a fine with a **reason** and **amount**.\n\n- Stores the fine in `driver_warnings`\n- If `amount > 0`, deducts from the driver's wallet and records a wallet `penalty` transaction\n- Sends an in-app notification to the driver\n","operationId":"adminAddDriverFine","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":2}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["reason","amount"],"properties":{"reason":{"type":"string","minLength":2,"maxLength":500,"example":"Cancelled ride after pickup without reason"},"amount":{"type":"number","minimum":0,"example":5000,"description":"Fine amount (0 allowed for warning-only)"}}},"example":{"reason":"Cancelled ride after pickup without reason","amount":5000}}}},"responses":{"201":{"description":"Fine issued","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"fine":{"$ref":"#/components/schemas/DriverFine"},"driver":{"$ref":"#/components/schemas/AdminDriver"}}}}}]},"example":{"success":true,"message":"Fine issued successfully","data":{"fine":{"id":1,"reason":"Cancelled ride after pickup without reason","amount":5000,"issued_by_user_id":15,"is_read":false,"created_at":"2026-09-27 16:20:00"},"driver":{"id":2,"first_name":"Karim","last_name":"Hassan","status_id":2,"status":"active","wallet_balance":-5000,"fines_count":1,"fines_total":5000,"fines":[{"id":1,"reason":"Cancelled ride after pickup without reason","amount":5000,"issued_by_user_id":15,"is_read":false,"created_at":"2026-09-27 16:20:00"}]}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Driver not found"},"422":{"description":"Validation failed"}}}},"/api/admin/drivers/{id}/wallet":{"post":{"tags":["Admin"],"summary":"Add amount to a driver's wallet","description":"Manager-only. Credits (top-up) the driver's `wallet_balance` and records a\n`topup` wallet transaction. Notifies the driver.\n","operationId":"adminAddDriverWallet","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":2}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"number","minimum":0.01,"example":10000,"description":"Amount to add (must be &gt; 0)"},"description":{"type":"string","maxLength":500,"nullable":true,"example":"Bonus for high rating"}}},"example":{"amount":10000,"description":"Bonus for high rating"}}}},"responses":{"201":{"description":"Wallet credited","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"transaction":{"type":"object"},"driver":{"$ref":"#/components/schemas/AdminDriver"}}}}}]},"example":{"success":true,"message":"Wallet credited successfully","data":{"transaction":{"id":3,"driver_id":2,"transaction_type":"topup","amount":10000,"balance_after":4000,"description":"Bonus for high rating","created_by_user_id":15,"created_at":"2026-09-27 16:40:00"},"driver":{"id":2,"wallet_balance":4000,"status":"active"}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Driver not found"},"422":{"description":"Validation failed"}}},"get":{"tags":["Admin"],"summary":"Get driver wallet history (paginated)","description":"Manager-only. Returns the driver's current `wallet_balance` and paginated\ntransactions from `driver_wallet_transactions` (no DB schema change needed).\n\nTypes: `topup`, `commission_deduction`, `penalty`, `compensation`, `reward`.\n","operationId":"adminListDriverWalletHistory","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":2},{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1}},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"in":"query","name":"transaction_type","schema":{"type":"string","enum":["topup","commission_deduction","penalty","compensation","reward"]}}],"responses":{"200":{"description":"Wallet history page","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WalletHistoryData"}}}]},"example":{"success":true,"message":"Wallet history retrieved successfully","data":{"driver":{"id":2,"first_name":"Karim","last_name":"Hassan","photo_url":"/uploads/drivers/abc.jpg","phone_number":"0920507660","address":"Damascus","status_id":2,"status":"active","wallet_balance":4000,"search_radius_km":1,"current_lat":null,"current_lng":null,"is_online":false,"rating":5,"created_at":"2026-09-27 11:14:20","updated_at":"2026-09-27 13:31:17"},"wallet_balance":4000,"transactions":[{"id":5,"driver_id":2,"transaction_type":"topup","amount":10000,"balance_after":4000,"related_ride_id":null,"related_warning_id":null,"description":"Bonus for high rating","created_by_user_id":15,"created_at":"2026-09-27 13:31:17"},{"id":2,"driver_id":2,"transaction_type":"penalty","amount":-1000,"balance_after":-6000,"related_ride_id":null,"related_warning_id":2,"description":"Late to pickup","created_by_user_id":15,"created_at":"2026-09-27 13:16:41"}],"pagination":{"page":1,"limit":20,"total":3,"total_pages":1},"filters":{"transaction_type":null}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Driver not found"}}}},"/api/admin/drivers/{id}/reward":{"post":{"tags":["Admin"],"summary":"Add a reward to a driver's wallet","description":"Manager-only. Credits the driver's `wallet_balance` and records a\n`reward` wallet transaction (مكافأة). Notifies the driver.\nDistinct from wallet top-up (`topup`).\n","operationId":"adminAddDriverReward","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":2}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"number","minimum":0.01,"example":5000,"description":"Reward amount (must be &gt; 0)"},"description":{"type":"string","maxLength":500,"nullable":true,"example":"Weekly performance bonus"}}},"example":{"amount":5000,"description":"Weekly performance bonus"}}}},"responses":{"201":{"description":"Reward added","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"transaction":{"type":"object"},"driver":{"$ref":"#/components/schemas/AdminDriver"}}}}}]},"example":{"success":true,"message":"Reward added successfully","data":{"transaction":{"id":12,"driver_id":2,"transaction_type":"reward","amount":5000,"balance_after":9000,"description":"Weekly performance bonus","created_by_user_id":15,"created_at":"2026-09-27 18:00:00"},"driver":{"id":2,"wallet_balance":9000,"status":"active"}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Driver not found"},"422":{"description":"Validation failed"}}}},"/api/admin/orders":{"get":{"tags":["Admin"],"summary":"List all orders / rides (paginated)","description":"Manager-only. Returns all ride orders newest-first (`requested_at` DESC).\n\nOptional inclusive date range filter on `requested_at`:\n- `from_date` — start of day (YYYY-MM-DD)\n- `to_date` — end of day (YYYY-MM-DD)\n","operationId":"adminListOrders","security":[{"BearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1}},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"in":"query","name":"from_date","description":"Inclusive start date (YYYY-MM-DD) on requested_at","schema":{"type":"string","format":"date","example":"2026-09-01"}},{"in":"query","name":"to_date","description":"Inclusive end date (YYYY-MM-DD) on requested_at","schema":{"type":"string","format":"date","example":"2026-09-27"}}],"responses":{"200":{"description":"Orders page","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AdminOrdersListData"}}}]},"example":{"success":true,"message":"Orders retrieved successfully","data":{"orders":[{"id":8,"customer_id":14,"driver_id":2,"vehicle_type_id":1,"pickup_lat":33.51,"pickup_lng":36.27,"pickup_address":"Umayyad Square, Damascus","dropoff_lat":33.52,"dropoff_lng":36.28,"dropoff_address":"Damascus University","distance_km":1.45,"estimated_duration_min":3,"price_per_km_applied":500,"stops_fee_total":0,"price":1725,"commission_rate_applied":15,"admin_commission_amount":258.75,"driver_earning_amount":1466.25,"status_id":3,"status":"arrived","requested_at":"2026-09-27 11:36:12","accepted_at":"2026-09-27 11:36:12","started_at":null,"completed_at":null,"cancelled_at":null,"cancellation_reason":null,"cancelled_by":null},{"id":7,"customer_id":14,"driver_id":2,"vehicle_type_id":1,"pickup_lat":33.51,"pickup_lng":36.27,"pickup_address":null,"dropoff_lat":33.52,"dropoff_lng":36.28,"dropoff_address":null,"distance_km":1.45,"estimated_duration_min":3,"price_per_km_applied":500,"stops_fee_total":0,"price":1725,"commission_rate_applied":15,"admin_commission_amount":258.75,"driver_earning_amount":1466.25,"status_id":6,"status":"cancelled","requested_at":"2026-09-27 11:36:12","accepted_at":"2026-09-27 11:36:12","started_at":null,"completed_at":null,"cancelled_at":"2026-09-27 11:36:12","cancellation_reason":"Found another ride","cancelled_by":"customer"}],"pagination":{"page":1,"limit":2,"total":8,"total_pages":4},"filters":{"from_date":"2026-09-01","to_date":"2026-09-27"}}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"422":{"description":"Invalid query (bad dates / range)"}}},"post":{"tags":["Admin Create Order"],"summary":"Create an order for a phone / WhatsApp caller","description":"Manager-only. Customer is **either** `customer_id` (picked from lookup) **or**\n`customer` with `phone_number` — an existing customer with that phone is used, otherwise\na guest account is created (then `first_name` + `last_name` are required). When that\nperson later signs up in the app with the same phone, the guest becomes their account\nand keeps the ride history.\n\nDispatch:\n- without `driver_id` the order is offered to nearby matching drivers exactly like an\n  app order (`dispatch.mode = broadcast`)\n- with `driver_id` the driver is validated first (active, has a car of the chosen\n  vehicle type, not on a ride) and the order is assigned straight away\n  (`dispatch.mode = assigned`). The driver app gets `driver:active_ride` with\n  `assigned_by_manager: true` plus a push; the customer gets the normal accepted events.\n  If the driver took another ride in the same moment, the order falls back to broadcast\n  and `dispatch.assign_error` explains why.\n\nPrice is calculated on the server (same rules as the app). `order_source` defaults to `call`.\n\n409 when the customer already has an active ride (`errors.active_ride_id`), when the\nsame customer is being submitted twice at once, or when the phone belongs to a manager\nor a deleted account.\n","operationId":"adminCreateOrder","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["vehicle_type_id","pickup_lat","pickup_lng","dropoff_lat","dropoff_lng"],"properties":{"customer_id":{"type":"integer","example":21},"customer":{"type":"object","properties":{"phone_number":{"type":"string","example":"0991234567"},"first_name":{"type":"string","example":"Ahmad"},"last_name":{"type":"string","example":"Ali"}}},"vehicle_type_id":{"type":"integer","example":1},"pickup_lat":{"type":"number","example":33.5138},"pickup_lng":{"type":"number","example":36.2765},"pickup_address":{"type":"string","example":"Umayyad Square"},"dropoff_lat":{"type":"number","example":33.5099},"dropoff_lng":{"type":"number","example":36.2919},"dropoff_address":{"type":"string","example":"Damascus University"},"stops":{"type":"array","maxItems":5,"items":{"$ref":"#/components/schemas/RideStopInput"}},"order_source":{"type":"string","enum":["call","whatsapp"],"default":"call"},"driver_id":{"type":"integer","description":"Assign directly to this driver instead of broadcasting","example":3}}}}}},"responses":{"201":{"description":"Order created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"order":{"$ref":"#/components/schemas/AdminOrder"},"customer":{"allOf":[{"$ref":"#/components/schemas/AdminCustomerLookupItem"},{"type":"object","properties":{"created":{"type":"boolean","description":"A guest account was created by this request"}}}]},"dispatch":{"type":"object","properties":{"mode":{"type":"string","enum":["broadcast","assigned"]},"driver_id":{"type":"integer"},"notified_drivers_count":{"type":"integer"},"notified_driver_ids":{"type":"array","items":{"type":"integer"}},"assign_error":{"type":"string"}}}}}}}]}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"customer_id or driver_id not found"},"409":{"description":"Active ride exists / duplicate submit / phone not usable / driver busy or inactive"},"422":{"description":"Invalid body / names missing for a new caller / driver vehicle type mismatch"}}}},"/api/admin/orders/{id}":{"get":{"tags":["Admin"],"summary":"Get any order with its stops and driven route","description":"Full `AdminOrder` for one ride (any customer / driver), plus `stops` and `route`.\n\n`route` is the GPS path the driver uploaded after the trip\n(`[{ lat, lng, recorded_at }]` in time order), or `null` if none was uploaded —\nthe same points `GET /api/customer/rides/{id}` returns to the ride's customer.\nCompare `route_distance_km` (from the points) with `actual_distance_km`\n(what the driver reported at finish) to spot fare disputes.\n\n`?simplify=true` drops near-collinear points (~10 m tolerance) for small maps.\n","operationId":"adminGetOrder","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"}},{"in":"query","name":"simplify","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Order found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AdminOrder"}}}]},"example":{"success":true,"message":"Order retrieved successfully","data":{"id":42,"status_id":5,"status":"completed","price":12400,"actual_distance_km":12.4,"route_distance_km":12.31,"has_route":true,"stops":[],"route":[{"lat":33.5138,"lng":36.2765,"recorded_at":"2026-09-29T12:30:00.000Z"},{"lat":33.5141,"lng":36.277,"recorded_at":"2026-09-29T12:30:05.000Z"}]}}}}},"403":{"description":"Not a manager token"},"404":{"description":"Order not found"},"422":{"description":"Invalid id or query"}}}},"/api/admin/orders/{id}/mark-paid":{"post":{"tags":["Admin"],"summary":"Mark a completed order as paid (driver never tapped \"Payment received\")","description":"Manager-only fallback for a finished ride that is still `payment_status = unpaid`.\nRuns exactly the same settlement as the driver's\n`POST /api/driver/rides/{id}/confirm-payment`:\n- ride `payment_status` → `paid`, `paid_at` set, `payment_confirmed_by` → `manager`\n- the commission (`manager_share`) is deducted from the driver's wallet as a\n  `commission_deduction` transaction (`created_by_user_id` = this manager)\n- emits the same `customer:ride_paid` (so the customer app closes its\n  \"pay the driver\" dialog), `driver:ride_paid`, `manager:ride_paid`\n- push notification to the customer and the driver\n","operationId":"adminMarkOrderPaid","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Order marked paid and money split","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RidePayment"}}}]}}}},"403":{"description":"Not a manager token"},"404":{"description":"Order not found"},"409":{"description":"Order is not completed, or already paid"}}}},"/api/admin/vehicle-types":{"get":{"tags":["Admin"],"summary":"List vehicle types","description":"Manager-only. Returns all car classes (economy, comfort, …), active and inactive,\nordered by `id`. Optional `is_active` filter.\n","operationId":"adminListVehicleTypes","security":[{"BearerAuth":[]}],"parameters":[{"in":"query","name":"is_active","schema":{"type":"boolean"},"description":"If set, only return active (`true`) or inactive (`false`) types","example":true}],"responses":{"200":{"description":"Vehicle types list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"vehicle_types":{"type":"array","items":{"$ref":"#/components/schemas/VehicleType"}}}}}}]},"example":{"success":true,"message":"Vehicle types retrieved successfully","data":{"vehicle_types":[{"id":1,"name":"economy","description":"Affordable everyday rides","is_active":true,"created_at":"2026-09-27 10:00:00"},{"id":2,"name":"comfort","description":"Newer cars, extra legroom","is_active":true,"created_at":"2026-09-27 10:00:00"}]}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"}}},"post":{"tags":["Admin"],"summary":"Create a vehicle type","description":"Manager-only. Creates a car class (e.g. `comfort`, `VIP`, `economy`).\nName must be unique. New types are active by default (`is_active: true`).\n","operationId":"adminCreateVehicleType","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVehicleTypeRequest"},"example":{"name":"VIP","description":"Premium luxury cars","is_active":true}}}},"responses":{"201":{"description":"Vehicle type created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VehicleType"}}}]},"example":{"success":true,"message":"Vehicle type created successfully","data":{"id":4,"name":"VIP","description":"Premium luxury cars","is_active":true,"created_at":"2026-09-27 14:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"409":{"description":"Name already taken"},"422":{"description":"Validation failed"}}}},"/api/admin/vehicle-types/{id}":{"put":{"tags":["Admin"],"summary":"Update a vehicle type","description":"Manager-only. Partial update — send any of `name`, `description`, `is_active`.\nUse `is_active: true` to re-activate a soft-deleted type.\n","operationId":"adminUpdateVehicleType","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1,"maximum":255},"example":4}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVehicleTypeRequest"},"example":{"name":"vip","description":"Top-tier luxury fleet","is_active":true}}}},"responses":{"200":{"description":"Vehicle type updated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VehicleType"}}}]},"example":{"success":true,"message":"Vehicle type updated successfully","data":{"id":4,"name":"vip","description":"Top-tier luxury fleet","is_active":true,"created_at":"2026-09-27 14:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Vehicle type not found"},"409":{"description":"Name already taken"},"422":{"description":"Validation failed"}}},"delete":{"tags":["Admin"],"summary":"Deactivate a vehicle type","description":"Manager-only. Soft-delete — sets `is_active = false` so existing rides /\ndriver vehicles keep their FK. Inactive types cannot be chosen for new\nrides or driver signup. Re-activate with PUT `is_active: true`.\n","operationId":"adminDeleteVehicleType","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1,"maximum":255},"example":4}],"responses":{"200":{"description":"Vehicle type deactivated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VehicleType"}}}]},"example":{"success":true,"message":"Vehicle type deactivated successfully","data":{"id":4,"name":"VIP","description":"Premium luxury cars","is_active":false,"created_at":"2026-09-27 14:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Vehicle type not found"},"409":{"description":"Already inactive"}}}},"/api/admin/pricing-tiers":{"get":{"tags":["Admin"],"summary":"List pricing tiers","description":"Manager-only. Returns saved distance pricing bands (all vehicle types),\nordered by vehicle type then `min_distance_km`.\nOptional filters: `vehicle_type_id`, `is_active`.\n","operationId":"adminListPricingTiers","security":[{"BearerAuth":[]}],"parameters":[{"in":"query","name":"vehicle_type_id","schema":{"type":"integer","minimum":1,"maximum":255},"description":"Only tiers for this vehicle type","example":1},{"in":"query","name":"is_active","schema":{"type":"boolean"},"description":"Filter active / inactive tiers","example":true}],"responses":{"200":{"description":"Pricing tiers list","content":{"application/json":{"example":{"success":true,"message":"Pricing tiers retrieved successfully","data":{"pricing_tiers":[{"id":10,"vehicle_type_id":1,"vehicle_type_name":"economy","min_distance_km":0,"max_distance_km":10,"price_per_km":5000,"base_fare":0,"is_active":true}]}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"422":{"description":"Invalid query params"}}},"post":{"tags":["Admin"],"summary":"Create a distance pricing tier","description":"Manager-only. Adds a distance band for a vehicle type, e.g. comfort:\n- 0–5 km → `price_per_km` 500\n- 5–8 km → `price_per_km` 800\n\n`max_distance_km` may be `null` for an open-ended upper band (e.g. 8+ km).\nTouching endpoints are allowed (`0–5` then `5–8`); interior overlaps return 409.\n\nQuote formula: `base_fare + distance_km * price_per_km + stops_fee`.\n","operationId":"adminCreatePricingTier","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePricingTierRequest"},"examples":{"comfort_0_5":{"summary":"Comfort 0–5 km","value":{"vehicle_type_id":2,"min_distance_km":0,"max_distance_km":5,"price_per_km":500,"base_fare":1500}},"comfort_5_8":{"summary":"Comfort 5–8 km","value":{"vehicle_type_id":2,"min_distance_km":5,"max_distance_km":8,"price_per_km":800,"base_fare":1500}},"open_ended":{"summary":"Open-ended 8+ km","value":{"vehicle_type_id":2,"min_distance_km":8,"max_distance_km":null,"price_per_km":700,"base_fare":1500}}}}}},"responses":{"201":{"description":"Pricing tier created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PricingTier"}}}]},"example":{"success":true,"message":"Pricing tier created successfully","data":{"id":7,"vehicle_type_id":2,"min_distance_km":5,"max_distance_km":8,"price_per_km":800,"base_fare":1500,"is_active":true,"created_at":"2026-09-27 15:00:00","updated_at":"2026-09-27 15:00:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Vehicle type not found"},"409":{"description":"Distance range overlaps another active tier"},"422":{"description":"Validation failed"}}}},"/api/admin/pricing-tiers/{id}":{"put":{"tags":["Admin"],"summary":"Update a pricing tier","description":"Manager-only. Partial update of distance band / rates / active flag.\nRe-activate with `is_active: true`.\n","operationId":"adminUpdatePricingTier","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":7}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePricingTierRequest"},"example":{"price_per_km":850,"max_distance_km":10}}}},"responses":{"200":{"description":"Pricing tier updated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PricingTier"}}}]},"example":{"success":true,"message":"Pricing tier updated successfully","data":{"id":7,"vehicle_type_id":2,"min_distance_km":5,"max_distance_km":10,"price_per_km":850,"base_fare":1500,"is_active":true,"created_at":"2026-09-27 15:00:00","updated_at":"2026-09-27 15:05:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Pricing tier or vehicle type not found"},"409":{"description":"Distance range overlaps another active tier"},"422":{"description":"Validation failed"}}},"delete":{"tags":["Admin"],"summary":"Deactivate a pricing tier","description":"Manager-only. Soft-delete (`is_active = false`). Inactive tiers are not\nused for new ride quotes. Re-activate with PUT `is_active: true`.\n","operationId":"adminDeletePricingTier","security":[{"BearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1},"example":7}],"responses":{"200":{"description":"Pricing tier deactivated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PricingTier"}}}]},"example":{"success":true,"message":"Pricing tier deactivated successfully","data":{"id":7,"vehicle_type_id":2,"min_distance_km":5,"max_distance_km":8,"price_per_km":800,"base_fare":1500,"is_active":false,"created_at":"2026-09-27 15:00:00","updated_at":"2026-09-27 15:10:00"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"},"404":{"description":"Pricing tier not found"},"409":{"description":"Already inactive"}}}},"/api/admin/commission":{"get":{"tags":["Admin"],"summary":"Get current commission percentage","description":"Manager-only. Returns the platform / manager commission `%` taken from\neach order price when a ride is created.\n\nExample: `rate_percentage = 10` and order price `1000` →\nmanager gets `100`, driver gets `900`.\n","operationId":"adminGetCommission","security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Current commission setting","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer","nullable":true,"example":1},"rate_percentage":{"type":"number","example":15},"set_by_user_id":{"type":"integer","nullable":true,"example":15},"effective_from":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true}}}}}]},"example":{"success":true,"message":"Commission rate retrieved successfully","data":{"id":1,"rate_percentage":15,"set_by_user_id":15,"effective_from":"2026-09-27 10:39:31","created_at":"2026-09-27 10:39:31"}}}}},"401":{"description":"Missing/invalid token"},"403":{"description":"Not a manager token"}}},"put":{"tags":["Admin"],"summary":"Set commission percentage","description":"Manager-only. Sets the flat platform / manager commission `%` for **new** orders.\nInserts a history row (old rates stay for past rides). Cache is invalidated\nimmediately so the next order uses the new rate.\n\n**Used only when no commission tiers exist** — see `PUT /api/admin/commission-tiers`\n(commission % by trip distance).\n\nAllowed range: `0` – `100`.\n","operationId":"adminSetCommission","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["rate_percentage"],"properties":{"rate_percentag
[...]
